/* MACBOOK */
#mac {
  display: flex;
  text-align: center;
  justify-content: center;
  /* margin-top: 1vh; */
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  overflow: hidden;
  position: relative;
  margin-bottom: 2vh;
}
#mac h1 {
  font-size: 7vh;
  line-height: 25px;
  font-weight: 400;
}
#mac .imgdiv {
  position: absolute;
  padding: 10vh;
}
#mac p {
  font-size: 3vh;
  line-height: 10vh;
  font-weight: 400;
}
#mac nav {
  font-size: 2vh;
  font-weight: 400;
  color: #4991d9;
}
#mac img {
  width: 200%;
}

.imac {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 10vh;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
.imac h1 {
  font-size: 1rem;
  line-height: 25px;
  font-weight: 400;
}
.imac p {
  font-size: 3vh;
  line-height: 10vh;
  font-weight: 400;
}
.imac nav {
  font-size: 2vh;
  font-weight: 400;
  color: #4991d9;
}

#david {
  height: 90vh;
}
