/* MACBOOK */
.mac {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  overflow: hidden;
  position: relative;
  margin-bottom: 12px;
}
#first {
  padding-top: 14vh;
}
.mac h1 {
  font-size: 7vh;
  line-height: 25px;
  font-weight: 400;
}
.mac .imgdiv {
  position: absolute;
  padding: 10vh;
}
.mac p {
  font-size: 3vh;
  line-height: 10vh;
  font-weight: 400;
}
.mac nav {
  font-size: 2vh;
  font-weight: 400;
  color: #4991d9;
}
.mac img {
  height: 90vh;
  /* width: 90vh; */
}

.mac #sec {
}
