/* MACBOOK */
#home .mac {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  overflow: hidden;
  position: relative;
  margin-bottom: 12px;
}
#home #first {
  padding-top: 14vh;
}
#home .mac h1 {
  font-size: 7vh;
  line-height: 8vh;
  font-weight: 400;
}
#home .mac .imgdiv {
  position: absolute;
  padding: 10vh;
}
#home .mac p {
  font-size: 29px;
  line-height: 5vh;
  font-weight: 400;
}
#home .nav > p {
  font-size: 20px;
  font-weight: 400;
  line-height: 5vh;
  color: #0066cc;
}
#home .nav:hover {
  text-decoration: underline #0066cc;
  /* text-decoration: #0066cc; */
}
#home .nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

#home .mac > img {
  height: 90vh;
  /* width: 90vh; */
}

#home #third h1 {
  color: aliceblue;
}
#st {
  color: aliceblue;
}
#home .nav p {
  color: #0066cc;
}
/* nextlane */

.david {
  display: flex;
  gap: 0.7vw;
  padding: 0 0.7vw 0.7vw;
}
.david .imgdiv {
  padding: 10vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.david > div {
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
}
#home .david h1 {
  font-size: 7vh;
  line-height: 8vh;
  font-weight: 400;
}
#home .david p {
  font-size: 29px;
  line-height: 5vh;
  font-weight: 400;
}
#home .david .nav > p {
  font-size: 20px;
  font-weight: 400;
  line-height: 5vh;
  color: #0066cc;
}
