.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
}
.header #comp {
  display: flex;
  background-color: #3f4144;
  color: #bcbdbf;
  padding: 10px;
  margin: 0px auto;
  justify-content: center;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.header #comp .nav {
  width: 58%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  /* border: 1px solid red; */
}
.header #comp .img {
  width: 17px;
  height: 17px;
}
.header #comp p {
  color: #898989;
  font-size: 12px;
  font-weight: 400;
  padding: 8px;
}
.header .img2 {
  width: 17px;
  height: 17px;
  padding: 5px;
}

.header #comp2 {
  display: flex;
  background-color: #3f4144;
  color: #bcbdbf;
  padding: 10px;
  margin: 0px auto;
  justify-content: center;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
.header #comp2 .nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  /* border: 1px solid red; */
}
.header .img {
  width: 17px;
  height: 17px;
  padding: 5px;
}
.header #comp p {
  color: #bcbdbf;
  font-size: 12px;
  font-weight: 400;
  padding: 8px;
}
.header .img2 {
  width: 17px;
  height: 17px;
  padding: 5px;
}
