#comp {
  display: flex;
  background-color: #3f4144;
  color: #bcbdbf;
  padding: 10px;
  margin: 0px auto;
  justify-content: center;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
#comp .nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  /* border: 1px solid red; */
}
img {
  width: 17px;
  height: 17px;
  padding: 5px;
}
#comp p {
  color: #bcbdbf;
  font-size: 12px;
  font-weight: 400;
  padding: 8px;
}
.img2 {
  width: 17px;
  height: 17px;
  padding: 5px;
}

/* MACBOOK */
#mac {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 10vh;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
#mac h1 {
  font-size: 7vh;
  line-height: 25px;
  font-weight: 400;
}
#mac p {
  font-size: 3vh;
  line-height: 10vh;
  font-weight: 400;
}
#mac nav {
  font-size: 2vh;
  font-weight: 400;
  color: #4991d9;
}
/* .imgm {
} */

.imac {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 10vh;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
.imac h1 {
  font-size: 7vh;
  line-height: 25px;
  font-weight: 400;
}
.imac p {
  font-size: 3vh;
  line-height: 10vh;
  font-weight: 400;
}
.imac nav {
  font-size: 2vh;
  font-weight: 400;
  color: #4991d9;
}
