#comp {
  display: flex;
  background-color: black;
  color: azure;
  padding: 10px;
  margin: 0px auto;
  margin-top: 2vh;
  justify-content: center;
}
#comp .nav {
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  border: 1px solid red;
}
img {
  width: 20px;
  height: 20px;
}
