#comp {
  display: flex;
  background-color: black;
  color: azure;
  flex-direction: column;
  padding: 10px;
}
#comp .nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  border: 1px solid red;
}
#comp #img {
  width: 500px;
  height: 500px;
}
